@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@200&family=Ubuntu&display=swap');
@keyframes slide-in {
  0% {
    left: -150%;
  }
  100% {
    left: 28%;
  }
}
body{
  margin:0;
  box-sizing: border-box;
  font-family: poppins,sans-serif;
  background-color: #f5f5f5;
}

/*navbar*/
header{
  z-index: 999;
  position: fixed;
  padding-top: 3px;
  color:#003d4c;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  width:100%;
  height:4.5em;
  display:flex;
  justify-content: space-around;
  background-image: linear-gradient(to left, #006699,#b2d9e8,white);
  opacity:0.9;
}
#logo{
  margin: 0px;
  width:130px;
  height:68px;
  opacity: 0.9;
}
nav ul{
  font-size:20px;
  display:flex;
  gap:3em;
  list-style: none;
}
a{
  text-decoration: none;
}
a:visited {
  color:#003d4c98;
}
a:hover{
  color:white;
  transition:0.4s;
}
#sign-up{
  color: white;
}
#sign-up:hover{
  color:#003d4c;
}
ul li ul.dropdown li {
  display: block;
}
ul li ul.dropdown {
  width:10%;
  position:absolute;
  z-index:999;
  display: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

ul li:hover ul.dropdown {
  display: block ;
  background-color:#b2d9e8 ;
  color:#003d4c;
  opacity:0.9;cursor:pointer;
  list-style: circle;
  padding: 1em;
}
.dropdown a:hover{
  transition:0.7s;
  color:white;
}

/*title*/
.title-container{
  background-image: linear-gradient(
    rgba(86, 86, 86, 0.45), 
    rgba(64, 64, 64, 0.301)
  ),url(/assets/img-art-ete-ecolab.jpg);
  background-size: cover;
  height: 30em;
  width:100%; 
  display:flex;
  align-items: center;
  justify-content: center;
}

#title{
  position: absolute;
  animation-name:slide-in;
  animation-duration: 2s;
  font-size: 100px;
  margin-top: 10%;
  color:white;
  font-family: poppins , sans-serif;
  font-weight: 800;
}

/*statistics*/
#statistics-grid{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap:1.5em;
  padding:4em;
}
.statistics{
  padding:2em;
  width: max;
  height:20em;
  background-color: #006699;
  border-radius: 0.7em;
  background-position:cover;
  background-size: cover;
  color:white;
  font-family: poppins,sans-serif;
  font-weight: bold;
  font-size: larger;
  box-shadow: 3px 3px 20px rgba(128, 128, 128, 0.441);
}
span{
  font-size: 2em;
  margin-right: 0.2em;
  
}
.grid-span-2{
  grid-column: span 2;
}
.statistics-button{
  height:3.5em;
  width:12em;
  border-radius: 2em;
  border:none;
  color:white;
  background-color: #006699;
}
.statistics-button:hover{
  background-color: #0f80b9;
  transition:0.7s;
  cursor:pointer;
}
h1{
  margin-left: 1.5em;
  font-family: Monserrat,sans-serif;
  font-size:3em;
  color:#003d4c;
}

#tech-emergentes{
  display: flex;
  padding:2em;
  font-size: larger;
  
}


.img-container{
  flex:0.6;
  background-image: linear-gradient(rgba(128, 128, 128, 0.247),rgba(128, 128, 128, 0.321)),url(/assets/tech-eau.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  border-bottom-left-radius: 2em;
  box-shadow: 4px 4px 20px rgba(128, 128, 128, 0.303);
}
.text-container{
  color:rgba(0, 0, 0, 0.878);
  flex:1;
  background-color: white;
  padding: 2em;
  border-top-right-radius:2em;
  box-shadow: 4px 4px 20px rgba(128, 128, 128, 0.115);
}
li::marker{
  color:#003d4c;
}
.tech-nom{
  font-size: 1.3em;
  font-weight: 700;
  color:#003d4c;
}

/*footer*/
.footer-container{
  height:15em;
  background-image: linear-gradient(to right, #006699,#b2d9e8);
  display:flex;
  justify-content: center;
  color:rgba(255, 255, 255, 0.895);
  gap:5em;
  font-family: montserrat,sans-serif;
}
div li{
  list-style: none;
}
.logos-container{
  display:flex;
  gap:1em;
  justify-content: center;
}
.logos-container img{
  width:40px;
  height:40px;
}
input{
  text-align: center;
  width:18em;
  height:3em;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-style: none;
}
.footer-container button{
  height:3.15em;
  background-color: #006699;
  color:white;
  width:6em;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-style: none;
}
.footer-container button:hover{
  background-color: #118ecc;
  transition: 0.5s;
  cursor:pointer;
}
.footer-container h3{
  color:#003d4c98;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003d4c;
  text-align: center;
  color:rgba(255, 255, 255, 0.605);
  font-family: montserrat,sans-serif;
  width:100%;
  height:5em;
}
#footer-logo{
  margin-top: 2.5em;
  width:350px;
  height:150px;
  opacity: 0.8;
}

